Package: vim-syntastic
Version: 3.5.0-1
Architecture: all
Maintainer: Andrea Capriotti <capriott@debian.org>
Installed-Size: 859
Depends: vim, vim-addon-manager
Suggests: sparse, splint, cppcheck, foodcritic, libxml2-utils, hlint, tidy, checkstyle, closure-linter, libperl-critic-perl, puppet-lint, python-flake8, pep8, pyflakes, pylint, chktex, lacheck
Section: editors
Priority: extra
Homepage: https://github.com/scrooloose/syntastic
Description: Syntax checking hacks for vim
 Syntastic is a syntax checking plugin that runs files through external syntax
 checkers and displays any resulting errors to the user. This can be done on
 demand, or automatically as files are saved. If syntax errors are detected, the
 user is notified and is happy because they didn't have to compile their code or
 execute their script to find them.
 .
 At the time of this writing, syntax checking plugins exist for ActionScript,
 Ada, AppleScript, AsciiDoc, Bourne shell, C, C++, C#, Chef, CoffeeScript, Coco,
 Coq, CSS, Cucumber, CUDA, D, Dart, DocBook, Dust, Elixir, Erlang, eRuby,
 Fortran, Gentoo metadata, GLSL, Go, Haml, Haskell, Haxe, Handlebars, HSS, HTML,
 Java, JavaScript, JSON, LESS, Lex, Limbo, LISP, LLVM intermediate language,
 Lua, MATLAB, NASM, Objective-C, Objective-C++, OCaml, Perl, Perl POD, PHP,
 gettext Portable Object, Puppet, Python, Racket, reStructuredText, Ruby, Rust,
 SASS/SCSS, Scala, Slim, Tcl, TeX, Twig, TypeScript, Vala, Verilog, VHDL, xHtml,
 XML, XSLT, YACC, YAML, z80, Zope page templates, zsh.
